<div class="{inputClass}">
	{#each selectedTags as tag}
		<span class="w3-tag w3-margin-right w3-round w3-green w3-center">
			{tag.name}
			&nbsp;
			<i on:click="deselectTag(event, tag)" class="fas fa-times-circle" />
		</span>
	{/each}
	<input 
		type="text" class="w3-border-0" placeholder="Type a letter or space"
		on:input="input(event)"
		on:keydown="keydown(event)"
		>
</div>
{#if filteredTags && filteredTags.length}
<div class="popup" style="margin-right:{$isMobile ? '16px' : '32px'}">
	<div ref:FTags class="w3-container w3-card-4 w3-white w3-padding">
		{#each filteredTags as tag}
			<span
				class="w3-tag w3-margin-right w3-margin-top w3-round w3-light-gray w3-center"
				on:click="selectTag(event, tag)"
			>
				{@html tag.html}
			</span>
		{/each}
	</div>
</div>
{/if}

<style>
	input {
		outline: none;
	}

	.popup {
		position: absolute;
		margin-top: -16px;
		z-index: 10;
	}
</style>

<script>
	export default {
		data() {
			return {
				currentTag: 0,
				filteredTags: [],
				selectedTags: []
			}
		},

		oncreate() {
			document.addEventListener("click", evt => {
				this.closePopup()
			})
		},

		methods: {

			input(evt) {
				console.log('input', evt)
				let val = evt.target.value
				let filteredList

				// close any already open lists of autocompleted value
				this.closePopup()
				if( !val ) {
					return false
				}

				if( val.length == 1 && evt.key === ' ') { 
					// SPACE key pressed in first position, return all tags
					filteredList = this.get().data
				} else {
					// remove spaces
					val = val.trim()
					// Keep only the matching tags
					filteredList = this.get().data.filter( ({name}) => name.substr(0, val.length).toUpperCase() === val.toUpperCase())
				}

				if( filteredList.length === 0 ) {
					// list is empty, no need to display popup container
					return
				}

				this.set({
					filteredTags: filteredList.map( ({code, name}) => {
						let html = val.length ? `<strong>${name.substr(0, val.length)}</strong>` : ''
						return {
							code,
							name,
							html: `${html}${name.substr(val.length)}`
						}
					})
				})

				this.currentTag = 0
				// make the first of the tags list active by default
				this.setActiveTag(this.refs.FTags.getElementsByClassName('w3-tag'))
			},

			keydown(evt) {
				let tags = this.refs.FTags && this.refs.FTags.getElementsByClassName('w3-tag')
				// if (!tags || !tags[this.currentTag]) {
				// 	return false
				// }

				switch (evt.key) {
					case 'Backspace' :
						if( evt.target.value.length == 0) {
							evt.preventDefault()
							this.closePopup()
							// remove the last of the selected tags
							this.set( {selectedTags: this.get().selectedTags.slice(0,-1)})
						}
						break

					case 'Escape': 
						evt.preventDefault()
						this.closePopup()
						break

					case 'ArrowRight': 
						evt.preventDefault()
						this.currentTag = this.currentTag === tags.length-1 ? 0 : this.currentTag+1
						this.setActiveTag(tags)
						break

					case 'ArrowLeft': 
						evt.preventDefault()
						this.currentTag = this.currentTag === 0 ? tags.length-1 : this.currentTag-1
						this.setActiveTag(tags)
						break

					case 'ArrowDown': 
						evt.preventDefault()
						let CuDown = tags[this.currentTag].getBoundingClientRect()
						this.currentTag = Array.from(tags).findIndex( tag => {
							let {x, y} = tag.getBoundingClientRect()
							if( CuDown.x-80 <= x && y > CuDown.y+32) {
								return true
							}
						})
						this.currentTag = this.currentTag === -1 ? 0 : this.currentTag
						this.setActiveTag(tags)
						break

					case 'ArrowUp': 
						evt.preventDefault()
						let CuUp = tags[this.currentTag].getBoundingClientRect()
						let newFocus = Array.from(tags).findIndex( tag => {
							let {x, y} = tag.getBoundingClientRect()
							if( CuUp.x-80 <= x && y > CuUp.y-40) {
								return true
							}
						})
						this.currentTag = newFocus === this.currentTag ? tags.length-1 : newFocus
						this.setActiveTag(tags)
						break

					case 'Home':
						evt.preventDefault()
						this.currentTag = 0
						this.setActiveTag(tags)
						break

					case 'End':
						evt.preventDefault()
						this.currentTag = tags.length-1
						this.setActiveTag(tags)
						break

					case 'Tab': 
					case 'Enter': 
						evt.preventDefault()
						tags[this.currentTag].click()
						break
				}
			},

			selectTag(evt, tag) {
				evt.preventDefault()
				evt.stopPropagation()

				// add new tag to list
				this.get().selectedTags.push(tag)
				
				// remove duplicate publish it
				this.set({selectedTags: [...new Set(this.get().selectedTags)]})
			},

			deselectTag(evt, tag) {
				evt.preventDefault()
				evt.stopPropagation()

				// filter out the deselected tag from the selected list then publish
				this.set({selectedTags: this.get().selectedTags.filter(t => t.code != tag.code)})
			},

			setActiveTag(tags) {
				Array.from(tags).map(tag => {
					tag.classList.remove('w3-blue')
					tag.classList.add('w3-light-gray')
				})
				tags[this.currentTag].classList.remove('w3-light-gray')
				tags[this.currentTag].classList.add('w3-blue')
			},

			closePopup() {
				this.set({filteredTags:[]})
			}

		}
	}
</script>