{#if banner}
	<div class="w3-container">
		<div class="w3-panel {banner.classes} w3-display-container w3-card-4">
			{#if banner.duration == 0}
			<div class="w3-display-topright">
				<i on:click="dismiss()" class="fas fa-times-circle" />
			</div>
			{/if}
			<h6 class="w3-section">{@html banner.html}</h6>
		</div>
	</div>
{/if}

<style>
	.fas,
	.fas:hover {
	  margin: 10px 10px;
	  cursor: pointer;
	}

	.w3-panel {
		margin-bottom: 0px;
	}
</style>

<script>
	export default {
		data() {
			return {
				banner : null
			}
		},

	  methods: {
	    dismiss() {
				this.set({ banner : null })
			},

			shout({ html = '', duration = 3, classes }) {
				if (duration) {
					setTimeout(() => {
						this.dismiss()
					}, duration * 1000)
				}

				this.set({ banner : { html, duration, classes } })
			},

			danger( html, duration = 0) {
				this.shout( { html, duration , classes : 'w3-red w3-text-white' })
			},

			info( html, duration) {
				this.shout( { html, duration , classes : 'w3-blue w3-text-white'})
			},

			success( html, duration) {
				this.shout( { html, duration , classes : 'w3-teal w3-text-white' })
			},

			warning( html, duration = 5) {
				this.shout( { html, duration , classes : 'w3-orange w3-text-black' })
			}
	  }
	}
</script>