<footer class="page-footer teal">
	<div class="container">
		<div class="row">
			<div class="col l3 s6">
				<ul>
						<li><h6 class="black-text">Offering</h6></li>
					<li><a class="white-text" href="products">Products</a></li>
					<li><a class="white-text" href="services">Services</a></li>
				</ul>
			</div>
			<div class="col l3 s6">
				<ul>
						<li><h6 class="black-text">Resources</h6></li>
						<li><a class="white-text" href="forum">Case studies</a></li>
						<li><a class="white-text" href="downloads">Downloads</a></li>
						<li><a class="white-text" href="blog">Blog</a></li>
				</ul>
			</div>
			<div class="col l3 s6">
				<ul>
						<li><h6 class="black-text">Support</h6></li>
						<li><a class="white-text" href="faq">FAQ</a></li>
						<li><a class="white-text" href="forum">Forum</a></li>
				</ul>
			</div>
			<div class="col l3 s6">
				<ul>
						<li><h6 class="black-text">Company</h6></li>
						<li><a class="white-text" href="company/about">About us</a></li>
					<li><a class="white-text" href="company/privacy">Privacy policy</a></li>
					<li><a class="white-text" href="company/tos">Terms of service</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="row row-copyright">
			<div class="col s12">
				<a class="white-text" href={$CFG.WEBSITE}>{$CFG.COMPANY}</a> &copy; since 2005
			</div>
		</div>
	</div>
</footer>

<style>
	.row-copyright {
		margin: auto;
	}
</style>