<div class="navbar-fixed">
	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="/" class="brand-logo">
				<img src="{$CFG.LOGO}" alt="{$CFG.BRAND}" />
			</a>

			<!-- Large screen menu -->
			<ul class="right hide-on-med-and-down">
				<MenuItem path={path} href="/products" title="Products"/>
				<MenuItem path={path} href="/services" title="Services"/>

				{#if $isAuth }
				<MenuItem path={path} href="/blog" title="Blog"/>
				{/if}

				<MenuItem path={path} href="/support" title="Support"/>
				<MenuItem path={path} href="/forum" title="Forum"/>
				<MenuItem path={path} href="/company/about" title="About"/>

				<!-- must be outside #if block to avoid style issue in the dropdown -->
				<UserDropDown label='{$user ? $user.username : ""}' />

				{#if $isAuth === false}
				<MenuItem path={path} href="/user/login" title="Login" color="blue-text"/>
				<MenuItem path={path} href="/user/signup" title="Signup" color="orange-text"/>
				{/if}
			</ul>

			<!-- Menu to call the sidenav for Small screen  -->
			<a href="/" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons teal-text">menu</i></a>
		</div>
	</nav>
</div>

<!-- must be outside the main div -->
<SideNav/>

<script>
	export default {
		components: {
			MenuItem: '../components/MenuItem.html',
			UserDropDown: '../components/UserDropDown.html',
			SideNav: '../components/SideNav.html'
		}
	}
</script>

<style>
	nav .brand-logo {
	  color: #455a64;
	}
</style>