<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo">
			<img src="{$CFG.LOGO}" alt="{$CFG.BRAND}" />
		</a>

		<!-- Large screen menu -->
		<ul class="right hide-on-med-and-down">
			<li class='{path === "/products" ? "active" : ""}'><a href="products">Products</a></li>
			<li class='{path === "/services" ? "active" : ""}'><a href="services">Services</a></li>
			<li class='{path === "/blog" ? "active" : ""}'><a href="blog">Blog</a></li>
			<li class='{path === "/support" ? "active" : ""}'><a href="support">Support</a></li>
			<li class='{path === "/forum" ? "active" : ""}'><a href="forum">Forum</a></li>
			<li class='{path === "/company/about" ? "active" : ""}'><a href="company/about">About</a></li>
			<!-- {#if $user && $isAuth} -->
			<li>
				<UserDropDown label='{$user ? $user.displayName : ""}' />
			</li>
			{#if $isAuth == false}
			<li class='{path === "/users/login" ? "active" : ""}'>
				<a href="users/login" class="teal-text">Login</a>
			</li>
			<li class='{path === "/users/signup" ? "active" : ""}'>
				<a href="users/signup" class="orange-text">Sign Up</a>
			</li>
			{/if}
		</ul>

		<!-- Small screen menu  -->
		<ul id="nav-mobile" class="sidenav sidenav-close">
			<li class="center-align">
				<a href="/"><img src="{$CFG.LOGO}" class="sidenav-logo" alt="{$CFG.BRAND}" /></a>
			</li>
			<li>
				<div class="divider" />
			</li>
			<li><a href="/">Home</a></li>
			<li><a href="products">Products</a></li>
			<li><a href="services">Services</a></li>
			<li><a href="blog">Blog</a></li>
			<li><a href="support">Support</a></li>
			<li><a href="forum">Forum</a></li>
			<li><a href="company/about">About</a></li>
			{#if $user && $isAuth}
			<li class="divider"></li>
			<li><a href="#!" class="indigo-text">Logged in as {$user.displayName}</a></li>
			<li><a href="users/profile">Profile</a></li>
			<li><a href="users/prefs">Preferences</a></li>
			<li class="divider"></li>
			<li><a href="users/logout" class="orange-text">Logout</a></li>
			{:else}
			<li><a href="users/login" class="teal-text">Login</a></li>
			<li><a href="users/signup" class="orange-text">Sign Up</a></li>
			{/if}
		</ul>
		<a href="/" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	</div>
</nav>

<script>
	export default {
		components: {
			UserDropDown: '../components/UserDropDown.html'
		},

		oncreate() {
			// console.log('Header oncreate', this.options, this.root, this.get(), this.store.get())
			typeof M !== "undefined" && M.Sidenav.init(document.querySelectorAll(".sidenav"))
		}
	}
</script>

<style>
	nav ul a,
	nav .brand-logo {
	  color: #455a64;
	}

	nav ul a {
	  font-size: 1rem;
	}

	.sidenav-logo {
	  vertical-align: middle;
	}

	.sidenav-trigger {
	  color: #26a69a;
	}
</style>