
<ul id="nav-mobile" class="sidenav sidenav-close">
	<li class="center-align">
		<a href="/"><img src="{$CFG.LOGO}" class="sidenav-logo" alt="{$CFG.BRAND}" /></a>
	</li>
	<li>
		<div class="divider" />
	</li>
	<li><a href="/">Home</a></li>
	<li><a href="products">Products</a></li>
	<li><a href="services">Services</a></li>
	{#if Boolean($isAuth) }
	<li><a href="blog">Blog</a></li>
	{/if}
	<li><a href="support">Support</a></li>
	<li><a href="forum">Forum</a></li>
	<li><a href="company/about">About</a></li>
	{#if $user && $isAuth}
	<li class="divider"></li>
	<li>
		<a href="#!" class="indigo-text">
			{$user.username}
		</a>
	</li>
	<li><a href="user/profile">Profile</a></li>
	<li><a href="user/prefs">Preferences</a></li>
	<li class="divider"></li>
	<li><a href="user/logout" class="teal-text">Logout</a></li>
	{:else}
	<li><a href="user/login" class="blue-text">Login</a></li>
	<li><a href="user/signup" class="orange-text">Sign Up</a></li>
	{/if}
</ul>

<script>
	export default {
		oncreate() {
			// console.log('Header oncreate', this.options, this.root, this.get(), this.store.get())
			typeof M !== "undefined" && M.Sidenav.init(document.querySelectorAll(".sidenav"))
		}
	}
</script>

<style>
	.sidenav-logo {
	  vertical-align: middle;
	}
</style>