{#if $isAuth}
	<div class="w3-dropdown-hover w3-right">
    <span class="w3-bar-item w3-text-blue w3-hover-light-grey">
			<i class="fa fa-user-alt w3-text-orange"/>&nbsp;{label}&nbsp;<i class="fa fa-caret-down"></i>
		</span>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/user/profile" class="w3-bar-item w3-button w3-hover-light-grey">Profile</a>
      <a href="/user/prefs" class="w3-bar-item w3-button w3-hover-light-grey">Preferences</a>
      <a href="/user/logout" class="w3-bar-item w3-button w3-border-top w3-text-orange w3-hover-light-grey w3-hover-text-orange">Logout</a>
    </div>
  </div>
{/if}

<style>
	.w3-dropdown-hover,
	.w3-dropdown-content {
		margin-right:16px;
	}

	.w3-dropdown-content {
		margin-top:38px;
	}

	.w3-dropdown-content {
		right:0;
	}

</style>