{#if $isAuth}
<li>
<ul id="dd-user" class="dropdown-content">
	<li><a href="users/profile">Profile</a></li>
	<li><a href="users/prefs">Preferences</a></li>
	<li class="divider"></li>
	<li><a href="users/logout" class="orange-text">Logout</a></li>
</ul>

<a class="dropdown-trigger indigo-text" href="#!" data-target="dd-user">{label}</a>
</li>
{/if}

<script>
	export default {
		onupdate({ changed, current, previous }) {
			console.log('UserDropDown onupdate', 'changed', changed, 'current', current, 'previous', previous)
			current.$isAuth && typeof M !== "undefined" && M.Dropdown.init(document.querySelectorAll(".dropdown-trigger"), {
					hover: true,
					coverTrigger: false,
					constrainWidth: false
				})
		}
	}
</script>

<style>
	ul a {
	  color: #455a64;
	  font-size: 1rem;
	}
</style>