<div class="w3-bar w3-small">
  <div class="w3-container w3-teal w3-text-dark-grey w3-padding">
    <div class="w3-row">
      <div class="w3-container w3-quarter">
        <div class="w3-text-black">Offering</div>
        <a class="w3-text-dark-grey" href="/products">Products</a> <br />
        <a class="w3-text-dark-grey" href="/services">Services</a> <br />
        <a class="w3-text-dark-grey" href="/pricing">Pricing</a>
      </div>
      <div class="w3-container w3-quarter">
        <div class="w3-text-black">Resources</div>
        <a class="w3-text-dark-grey" href="/forum">Case studies</a> <br />
        <a class="w3-text-dark-grey" href="/downloads">Downloads</a> <br />
        <a class="w3-text-dark-grey" href="/blog">Blog</a>
      </div>
      <div class="w3-container w3-quarter">
        <div class="w3-text-black">Support</div>
        <a class="w3-text-dark-grey" href="/faq">FAQ</a> <br />
        <a class="w3-text-dark-grey" href="/forum">Forum</a>
      </div>
      <div class="w3-container w3-quarter">
        <div class="w3-text-black">Company</div>
        <a class="w3-text-dark-grey" href="/company/about">About us</a> <br />
        <a class="w3-text-dark-grey" href="/company/privacy">Privacy policy</a> <br />
        <a class="w3-text-dark-grey" href="/company/tos">Terms of service</a>
      </div>
    </div>
  </div>
  <div class="w3-container w3-center w3-dark-grey w3-padding">
    <a class="w3-text-light-grey" href="{$CFG.WEBSITE}">{$CFG.COMPANY}</a> &copy; since 2005
  </div>
</div>
